body {
    font-family: sans-serif;
}
header {
    background-color:aqua;
    padding:40px 0px 40px 25px;
}
.link-header {
    font-size:36px;
    background-image: linear-gradient(rgb(160, 117, 160),green);
    text-decoration:none;
    padding:5px 10px 5px 10px;
}
.link-nav {
    margin: 0 auto;
    font-size:24px;
    color:black;
    padding:35px 40px 0px 40px;
}
h1 {
    font-weight:normal;
    border-bottom:2px solid navy;
    padding-bottom:15px;
    width:1100px;
    margin:30px auto;
    letter-spacing:15px;
    text-shadow:-4px 2px navy,-8px 4px slateblue,-12px 6px turquoise;
    text-align: center;
    color:greenyellow;
    font-size:60px;
}
p {
    font-size:24px;
    color:black;
}
